<section id="about" data-transition="slide">
    <header data-title="Info">
        <nav>
            <a class="left" lab-aside="menu" data-icon="menu"></a>
            <span class="right" data-image="icons/dsv_small_transparent.png" />
        </nav>
    </header>
    <article class="active list indented text align_left">
        <ul>
            <li class="dark">
                Inoffizielle App für die Abfrage von Schwimmbestzeiten über die<br/><br/>
                <strong>dsv.de Personensuche</strong>.
            </li>
            <li class="feature">
                <strong>Kontakt: Christian Weyer</strong>, <a href="mailto:christian.weyer@thinktecture.com">christian.weyer@thinktecture.com</a>
            </li>
        </ul>
    </article>
 </section>
