<section id="results" data-transition="slide">
    <header data-title="Ergebnisse">
        <nav>
            <a class="left" lab-aside="menu" data-icon="menu"></a>
            <span class="right" data-image="icons/dsv_small_transparent.png" />
        </nav>
    </header>
    <article class="active list scroll" id="results-list">
        <ul>
            <li ng-repeat="result in results" ng-click="getRecords(result)" class="selectable arrow">
                <span>{{result.Firstname + " " + result.Lastname + " (" + result.BornYear + ")"}}</span>
                <div>{{result.Club}}</div>
            </li>
        </ul>
    </article>
</section>
