<section id="settings" data-transition="slide">
    <header data-title="Einstellungen">
        <nav>
            <a class="left" lab-aside="menu" data-icon="menu"></a>
            <span class="right" data-image="icons/dsv_small_transparent.png" />
        </nav>
    </header>
    <article class="active list indented text align_left">
        <ul>
            <li class="feature arrow" ng-click="signIn()">
                <span class="icon brand google-plus-2 small"></span><i ng-bind="loginStatus"></i>
            </li>
            <!--<li class="feature arrow" ng-click="deleteFavorites()">
                <i>Alle Favoriten löschen</i>
            </li>-->
        </ul>
    </article>
</section>
