<section id="settings" data-transition="slide">
    <header data-title="Einstellungen">
        <nav class="left">
            <a lab-aside="menu" data-icon="menu" data-label="swim.best"></a>
        </nav>
    </header>
    <article class="active list indented text align_left">
        <ul>
            <li class="feature arrow" ng-click="signIn()">
                <span class="icon brand google-plus-2 small"></span><i ng-bind="loginStatus"></i>
            </li>
            <!--<li class="feature arrow" ng-click="deleteFavorites()">
                <i>Alle Favoriten löschen</i>
            </li>-->
        </ul>
    </article>
</section>
